*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: .6px;
}

li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

body{
  background: #fff;
}

.header-ul{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgb(193, 193, 224);
}

.res-btn{
  padding: 6px 9px;
  border: none;
  border-radius: 4px;
  background: #ccc;
  cursor: pointer;
}

.todo-section{
  border: 1px solid black;
  border-radius: 5px;
  margin: 80px auto;
  width: 30%;
  padding: 5px 0;
}

.todo-header{
  text-align: center;
  padding: 10px;
  /* background: rgb(39, 33, 33);
  color: #fff; */
}

.todo-input{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border: none;
  background:rgb(214, 214, 221);
}

.todo-input:focus{
  outline: none;
}

/* .todo-div{
  padding: 8px 0;
} */

.todo-ul{
  background: #fff;
}

.todo-ul li{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  line-height: 55px;
}

.todo-ul li:nth-child(2n){
  background:rgb(214, 214, 221);
}

.todo-ul li p,
.todo-ul li span{
  cursor: pointer;
}

.strike-through{
  text-decoration: line-through;
  color: grey;
}
